body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #f8f9fa;
    color: #000000;
}

h1, h2, h3 {
    color: #000000;
}

.tabla-pedidos {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tabla-pedidos th, .tabla-pedidos td {
    border: 1px solid #4b4949;
    padding: 5px;
    text-align: center;
}

.tabla-pedidos th {
    background: #000000;
    color: white;
}

form {
    background: white;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    width: 400px;
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 1px;
}

form input, form button {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    background: #000000;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #045c12;
}